body{
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 20px;
    padding: 0;
    background-color:#e4d4b2;
}
h1, h2{
    text-align: center;
    color: black;
}
form{
    max-width: 600px;
    margin: auto;
    background-color: #d89343;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0 ,0, 0.5);
}
fieldset{
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 20px;
    background-color: #f1bf85;
}
legend{
    font-weight: bold;
    text-align: center;
    color:#081cc9;
}
label{
    display: block;
    margin-top: 10px;
    color: black;
}
input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #1956db;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a07a3c;
    color: #2f227c;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    color: white;
}
#resumeOutput{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px black;
    background-color: #d89343;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0 ,0, 0.5);
}
#resumeOutput h2{
    color: #181717;
}
